# https://steamcommunity.com/dev/apikey
STEAM_API_KEY=

# Steam Bot Configuration for Notifications
STEAM_USERNAME=
STEAM_PASSWORD=
STEAM_GROUP_ID=
STEAM_CHAT_ID=

# ( ͡° ͜ʖ ͡°)
SECRET_API_HOST=
SECRET_API_HOST=
GGDEALS_API_KEY=